* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    max-width: 260px;
    background-color: rgb(39, 39, 39);
    padding: 30px 20px;
    border-radius: 10px;
    position: absolute;
}
.logo {
    background-color: rgb(32, 32, 32);
    display: inline-block;
    padding: 10px 10px;
    border-radius: 50%;
    color: rgba(255, 136, 0, 0.932);
    font-size: 10px;
    margin-bottom: 20px;
}
.question {
    color: white;
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 20px;
}
.query {
    color: rgba(255, 255, 255, 0.397);
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 20px;
}
.numbers {
    display: flex;
    justify-content: space-between;
}
.num-div {
    background-color: rgb(32, 32, 32);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    transition: color, background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.numbers div:hover {
    color: white;
    background-color: rgba(255, 136, 0, 0.932);
    cursor: pointer;    
}

.numbers-active {
    background-color: rgba(255, 136, 0, 0.932);
    color: white;
}

button {
    width: 100%;
    padding: 10px 0;
    background-color: rgba(255, 136, 0, 0.932);
    border: none;
    border-radius: 19px;
    color: white;
    transition: all 0.15s;
    font-weight: 500;
    cursor: pointer;
}
button:active {
    color: rgba(255, 136, 0, 0.932);
    background-color: white;
}

.container2 {
    text-align: center;
    top: -100%;
    opacity: 0;
    transition: .5s ease;
}

.thank-you img {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

.result {
    color: rgba(255, 136, 0, 0.932);
    font-size: 13px;
    margin-bottom: 10px;
    background-color: rgb(56, 56, 56);
    padding: 7px;
    border-radius: 20px;
    display: inline-block;
}

.okay {
    color: white;
    font-size: 18px;
    background-color: rgba(255, 136, 0, 0.932);
    padding-block: 5px;
    border-radius: 30px;
    cursor: pointer;
}

.display-container {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}